{% extends "store/base.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<section class="py-4 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h3>Welcome back, {{ user.username }}!</h3>
        <br>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">My Orders</h5>
                <a href="{% url 'store' %}" class="btn btn-primary">
                    <i class="fas fa-shopping-cart"></i> View Orders
                </a>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Profile Setting</h5>
                <a href="{% url 'profile-edit' %}" class="btn btn-primary">
                    <i class="fas fa-user-edit"></i> Edit Profile
                </a>

                <br><br>

                <a href="{% url 'delete-account' %}" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Delete Account
                </a>
            </div>
        </div>
        {% comment %} <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Logout</h5>
                <a href="{% url 'user-logout' %}" class="btn btn-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div> {% endcomment %}
    </div>
</section>

{% endblock %}